*{
    margin: 0;
    padding: 0;
}
body{
    background: url("https://cdn.wallpapersafari.com/23/45/PJZtLD.jpg");
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.main{
    width:70%;
    margin-top: 100px;
    text-align: center;
}
.message{
    color:white;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 1.5px;
    word-spacing: 2.5px;
}
.display_time{
    display: flex;
    width:65%;
    text-align: center;
    margin:100px auto;
    justify-content: space-between;
}
.time{
    color:white;
    font-size: 20px;
    width:60px;
}
.time span{
    font-size: 40px;
}